__pycache__/
.spyproject/
# src/
# checkpointing/
weights/
temp_*
codes/vssl-train/
# codes/vssl-eval/*
cache/*
cache.zip
*.txt
*train.txt
*val.txt
*train.csv
*val.csv
*train.pkl
*val.pkl

